.kg-menu__menu-button
  background-color #fff
  width inherit
  height inherit
  border 0
  padding 1px 4px
  margin 0
  border-radius 0px
  & svg
    stroke #333
    stroke-width 2px
    line-height 24px