menu-width = 392px
top-lvl-width = 132px
top-lvl-height = 82px
top-lvl-background = #333
sub-lvl-width = menu-width - top-lvl-width
sub-lvl-height = 48px
sub-lvl-background = #4d4d4d
version-height = 18px
fnt-color = #e0e0e0
fnt-color-active = white
