.page
  //display flex
  //flex-flow column nowrap
  margin 0
  padding 0
.page__header
  height 56px
  display flex
  background wheat
  align-items auto
  & > div
    width 56px
.page__menu-button
  height inherit
  background azure
  margin-left auto
.page__menu-container
  position absolute
  background aliceblue
  top 56px
  bottom 0
  right 0
.page__content
  margin-left 24px
.page__menu-config
  display block
  width 392px
  max-width 100%
  height 512px